body {
  margin: 0;
   font-family: Arial, sans-serif;
   
}


 
.content{
     padding: 20px;
 
  margin-left: calc(100% - 80%);
}

.container form {
  background: #ddd;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumentar el valor de 2px a 4px para un sombreado más pronunciado */
margin-bottom: 10px;
border-radius: 10px;
padding: 10px;
}
#form_boton_eliminar{
  background: none;
  padding: 0;
  margin: 0;
}
.container form .row{
  display: flex;
  flex-direction: row;
    border-radius: 10px;
  
}
form > div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.add-button ,button[type="submit"]{
  cursor: pointer;
  border-radius: 5px;
   padding: 10px; background: #3498db; color: #fff; border:none;
}
input,
select
  {
  margin: 5px;
  padding: 5px;
}


.drawer {
  height: 100%;
  width: 250px;
  background-color: #0e6d7cb0;
  position: fixed;
   top: 0;
  transition: left 0.3s;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.drawer a {
  padding: 10px 15px;
  display: block;
  color: #000;
  text-decoration: none;
}

.drawer a:hover {
  background-color: #555;
  color: #fff;
}

 

.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: black;
  font-size: 24px;
}


/* Estilo general para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Estilo para las celdas de la tabla */
table th, table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Estilo para el encabezado de la tabla */
table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Estilo para las filas alternas */
table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilo para la fila al pasar el mouse por encima */
table tr:hover {
  background-color: #f1f1f1;
}

/* Estilo para los enlaces dentro de la tabla */
table a {

  color: #3498db;
  text-decoration: none;
  margin: 5px;
}
table button {

  background: #b30a34;
  border: none;
  border-radius: 5px;
   margin: 5px;
}
table button:hover {

  color: #fff;
}
table a:hover {
  text-decoration: underline;
}

/* Estilo para la tabla con bordes */
table.bordered {
  border: 1px solid #ddd;
}

table.bordered th, table.bordered td {
  border: 1px solid #ddd;
}
/* Estilo para la última columna de todas las tablas */
table tr td:last-child {

  display: flex;
  flex-direction: row;
  justify-content: center;
}


 /* Estilos para las tarjetas */
 .card {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  max-width: 300px;
}

 
.content-card {
  display: flex;
  flex-wrap: wrap;
}

.content-form div input {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 40px;
  background: #fff;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  z-index: 1;
  cursor: pointer;
  transform: scale(1.05);
}